################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CodingAssessment
/bin/Debug/net8.0
/obj
.vs/ProjectEvaluation/codingassessment.metadata.v7.bin
.vs/ProjectEvaluation/codingassessment.projects.v7.bin
